<app-section-header></app-section-header>
<app-section2-collection></app-section2-collection>
<app-section3-about></app-section3-about>
<app-section4-indicators></app-section4-indicators>
<app-section5-shop></app-section5-shop>
<app-section6-sommelier></app-section6-sommelier>
<app-section7-stages></app-section7-stages>
<app-section8-about-wine></app-section8-about-wine>
<app-section9-showcase></app-section9-showcase>
<app-section10-blog></app-section10-blog>
<app-section11-about-us></app-section11-about-us>
<app-section12-footer></app-section12-footer>
