.shop-title {
  width: 715px;
  margin: 0 auto;
  text-align: center;
}

.title1 {
  color: #AC4455;
  font-size: 16px;
}

.title2 {
  font-size: 48px;
  color: #242424;
  margin: 0;
}

.title3 {
  font-size: 16px;
  color: #777;
}
