.wines {
  display: flex;
  justify-content: space-around;
}

.title-wine {
  line-height: 50px;
  font-size: 40px;
  color: #fff;
  z-index: 2;
  position: absolute;
  top: 200px;
  left: 55px;
}

.btn-wine {
  line-height: 1.2;
  font-size: 13px;
  color: #fff;
  z-index: 2;
  position: absolute;
  top: 320px;
  left: 55px;
  cursor: pointer;
  &:hover {
    border-color: #fff;
    border-bottom-color: rgb(255, 255, 255);
  }
}

.collection-title {
  width: 715px;
  margin: 0 auto;
  text-align: center;
}

.title1 {
  color: #AC4455;
  font-size: 16px;
}

.title2 {
  font-size: 48px;
  color: #242424;
  margin: 0;
}

.title3 {
  font-size: 16px;
  color: #777;
}
