<section style="position: relative" class="section-header">

  <div class="slide2">
    <img class="slide2-img-black-vineyard" src="https://wmpics.space/di-PFCB.jpg" alt="black-vineyard">
    <img class="slide2-img-vineyard" src="https://wmpics.space/di-9S5W.jpg" alt="vineyard">
    <img class="slide2-img-bottle" src="https://wmpics.space/di-KOTC.png" alt="bottle">
  </div>

  <div class="section-header__title">
    <p class="title-1">Villadoria Barolo</p>
    <p class="title-2">Riserva 2013.</p>
    <p class="title-3">More than 30 varieties of wine.</p>

    <button class="button-shop" mat-raised-button>To Shop</button>
  </div>


</section>


