<section class="section-header">
<!--  <div class="slide1">-->
<!--    <img src="" alt="test">-->

<!--    <p>Wines From The</p>-->
<!--    <p>Best Vineyards.</p>-->
<!--    <p>More than 30 varieties of wine.</p>-->
<!--  </div>-->

  <div class="slide2">
    <img class="slide2-img-black-vineyard" src="https://wmpics.space/di-PFCB.jpg" alt="black-vineyard">
    <img class="slide2-img-vineyard" src="https://wmpics.space/di-9S5W.jpg" alt="vineyard">
    <img class="slide2-img-bottle" src="https://wmpics.space/di-KOTC.png" alt="bottle">
  </div>

  <p>Villadoria Barolo</p>
  <p>Riserva 2013.</p>
  <p>More than 30 varieties of wine.</p>

</section>


