.section-header {
  height: 1100px;
}

.slide2 {
  position: relative;
}

.slide2-img-black-vineyard {
  position: absolute;
  z-index: 1;
  right: 703px;
  width: 1200px;
  height: 917px;

}

.slide2-img-vineyard {
  position: absolute;
  top: 110px;
  right: 120px;
  z-index: 2;
  width: 1315px;
  height: 686px;
}

.slide2-img-bottle {
  position: absolute;
  right: 550px;
  top: 65px;
  z-index: 3;
  width: 224px;
  height: 752px;
}
