<section style="position: relative" class="section-header">

  <div class="slide2">
    <img class="slide2-img-black-vineyard" src="https://wmpics.space/di-PFCB.jpg" alt="black-vineyard">
    <img class="slide2-img-vineyard" src="https://wmpics.space/di-9S5W.jpg" alt="vineyard">
    <img class="slide2-img-bottle" src="https://wmpics.space/di-KOTC.png" alt="bottle">
  </div>

  <div style="position: absolute; top: 500px">
    <p>Villadoria Barolo</p>
    <p>Riserva 2013.</p>
    <p>More than 30 varieties of wine.</p>
  </div>


</section>


