.section-header {
  height: 980px;
}

.slide2 {
  position: relative;
}

.slide2-img-black-vineyard {
  position: absolute;
  z-index: 1;
  right: 703px;
  width: 1200px;
  height: 917px;

}

.slide2-img-vineyard {
  position: absolute;
  top: 110px;
  right: 120px;
  z-index: 2;
  width: 1315px;
  height: 686px;
}

.slide2-img-bottle {
  position: absolute;
  right: 587px;
  top: 83px;
  z-index: 3;
  width: 224px;
  height: 752px;
}

.section-header__title {
  position: absolute;
  z-index: 5;
  color: white;

  top: 240px;
  left: 409px;
}

.title-1 {
  font-size: 90px;
  margin: 0;
}

.title-2 {
  font-size: 90px;
  margin: 0;
}

.title-3 {
  font-size: 40px;
  margin: 20px 0;
}

.button-shop {
  margin-top: 40px;
}
