<div class="section-about">
  <img class="image-sommelier" src="https://3.downloader.disk.yandex.ru/preview/b3eb61aff76562d42e291bb0edd97887bf8c6b20cf2e9fd886d49894dd41b1a9/inf/JQq8KW8hKKZy-nNPPSNWORsJVrn8ewn2TY0Dop7VyxNplZkEk7xfqFGWdJKtHaohfzn4OgfpAKyGeZZ4rdamvQ%3D%3D?uid=229229657&filename=photo_2023-05-24_15-34-03.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=229229657&tknv=v2&size=1920x912" alt="test">
  <div class="block-text">
    <div class="title-of-section">Ion Amalanii</div>
    <div class="name-of-section">Sommelier Of World Renown.</div>
    <div class="subtitle-of-section">
      But I must explain to you how all this mistaken idea of denouncing
      pleasure and praising pain was born and I will give you a complete
      account of the system, expound the actual teachings of the great explorer truth.
    </div>
    <div>
      <button mat-raised-button color="warn">VIEW MORE</button>
      <button style="margin-left: 20px" mat-stroked-button>WATCH VIDEO</button>
    </div>
  </div>
  <img class="backg-sommelier" src="https://3.downloader.disk.yandex.ru/preview/dab16534e04932bfa3d6012c596da57a39deca656333e64741e1e40eec1dcfdc/inf/yvr2VZvXeG1XeT3eKeXE4V6HO34Xq_Lnh41-YFgXED0uh7osg7Wuegz11vBypEGCMruKMjC23iERd_sjsGplWA%3D%3D?uid=229229657&filename=wine-sommelier-bg.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=229229657&tknv=v2&size=1920x912" alt="test">
</div>

